* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #fff; }

.grid-layout {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: .02fr 1fr .1fr;
  grid-template-areas: "header " "main " "footer "; }
  .grid-layout .header {
    grid-area: header;
    background-color: #05161a; }
  .grid-layout .main {
    grid-area: main;
    background-color: #05161a; }
  .grid-layout .footer {
    background-color: #294d61;
    grid-area: footer; }

@media screen and (min-width: 1028px) {
  .grid-layout {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header " "main main main main " "footer footer footer footer "; }
  .header {
    grid-column: 1/5; }
  .main {
    grid-column: 1/5; }
  .footer {
    grid-column: 1/5; } }

.header .header__div--logo {
  display: flex;
  justify-content: space-between; }
  .header .header__div--logo .header__div--img--logo {
    width: 30%;
    margin: 15px; }
  .header .header__div--logo .abrir--nav {
    width: 10%;
    margin: 25px;
    padding: .5rem 0;
    font-size: xx-large;
    background-color: #05161a; }

.header .nav {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: #072e337f;
  backdrop-filter: blur(5px);
  width: 60%;
  height: 60vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100; }
  .header .nav .cerrar--nav {
    background-color: #ffffff00;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: end;
    margin: 2.2rem  1.5rem;
    font-size: xx-large; }
  .header .nav .nav--list {
    display: flex;
    flex-direction: column; }
    .header .nav .nav--list .nav__list--item {
      margin: .5rem 0 0 2rem;
      width: 60%;
      padding: 10px;
      text-decoration: none;
      font-size: 1.5rem; }
      .header .nav .nav--list .nav__list--item:hover {
        background-color: #0c7075;
        border-radius: 5px; }

.header .nav.visible {
  visibility: visible;
  opacity: 1; }

.header .header__section {
  background-color: #0c7075;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap; }
  .header .header__section .header__section--search {
    width: 60%; }
    .header .header__section .header__section--search input {
      color: #000;
      width: 70%;
      padding: .4rem;
      border-radius: 50px 0 0 50px; }
    .header .header__section .header__section--search .button--search {
      background-color: #072e33;
      width: 20%;
      padding: .4rem;
      border-radius: 0 50px 50px 0;
      font-size: medium; }
      .header .header__section .header__section--search .button--search:active {
        background-color: #0b4952; }
    .header .header__section .header__section--search .button--search > i:active {
      color: #05161a; }
  .header .header__section ul {
    width: 35%; }
    .header .header__section ul .header__section--list {
      display: flex;
      justify-content: space-around;
      font-size: x-large;
      list-style: none; }
      .header .header__section ul .header__section--list .section__list--item > i:active {
        color: #05161a; }

.header #modalContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  backdrop-filter: blur(10px);
  width: 90%;
  right: 0;
  flex-wrap: nowrap;
  height: 60%;
  overflow: scroll; }
  .header #modalContainer h3 {
    height: 15%;
    font-size: 2rem;
    margin: 1rem; }
  .header #modalContainer button {
    background-color: #072e337f;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-size: 2rem; }
  .header #modalContainer .modal__content {
    background-color: #0c7075;
    display: flex;
    margin: 1.3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header #modalContainer .modal__content .h4--cart {
      padding: .3rem; }

@media screen and (min-width: 1028px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10; }
    .header .header__div--logo {
      width: 30vw; }
      .header .header__div--logo a .header__div--img--logo {
        margin: 1rem auto 0;
        width: 6rem; }
      .header .header__div--logo .abrir--nav {
        display: none; }
    .header .nav {
      opacity: 1;
      visibility: visible;
      position: relative;
      width: 100%;
      height: auto;
      background-color: #072e33;
      display: flex;
      align-items: center; }
      .header .nav .cerrar--nav {
        display: none; }
      .header .nav .nav--list {
        width: 80vw;
        flex-direction: row;
        justify-content: space-around; }
        .header .nav .nav--list .nav__list--item {
          width: auto;
          margin: 0;
          padding: .4rem;
          text-align: center; }
    .header .header__section {
      width: 100%;
      background-color: #0c7075;
      padding: .5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .header .header__section .header__section--search {
        width: 50%; }
        .header .header__section .header__section--search input {
          color: #000;
          width: 40%;
          padding: .4rem; }
        .header .header__section .header__section--search .button--search {
          width: 10%; }
          .header .header__section .header__section--search .button--search:active {
            background-color: #0b4952; }
        .header .header__section .header__section--search .button--search > i:active {
          color: #05161a; }
      .header .header__section ul {
        width: 30%; }
        .header .header__section ul .header__section--list {
          display: flex;
          justify-content: space-around;
          font-size: x-large;
          list-style: none; }
          .header .header__section ul .header__section--list .section__list--item > i:active {
            color: #05161a; }
    .header #modalContainer {
      position: absolute;
      width: 30%;
      right: 0;
      top: 13rem;
      flex-wrap: nowrap;
      height: 60vh;
      overflow: scroll; }
      .header #modalContainer h3 {
        height: 15%;
        font-size: 2rem;
        margin: 1rem; }
      .header #modalContainer button {
        background-color: #072e337f;
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        font-size: 2rem; }
      .header #modalContainer .modal__content {
        background-color: #0c7075;
        display: flex;
        margin: 1.3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        .header #modalContainer .modal__content .h4--cart {
          padding: .3rem; } }

.main--index .main__section--1 .main__section1--img {
  width: 100%; }

.main--index .main__section--1 .main__section1--text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 12rem; }
  .main--index .main__section--1 .main__section1--text .section1__div--h1 {
    color: #fff;
    font-size: 3rem; }
  .main--index .main__section--1 .main__section1--text .section1__div--p {
    color: #fff;
    font-size: 1.3rem; }

.main--index .main__section--2 .main__section2--div {
  width: 100%;
  text-align: center; }
  .main--index .main__section--2 .main__section2--div .section2__div--img {
    width: 100%; }
  .main--index .main__section--2 .main__section2--div .section2__div--h2 {
    font-size: 2rem;
    margin-top: 2rem; }
  .main--index .main__section--2 .main__section2--div .section2__div--p {
    font-size: 1.5rem;
    margin: 1.5rem; }

.main--index .main__section--3 {
  width: 100%; }
  .main--index .main__section--3 .main__section3--img {
    width: 100%; }

.main--index .main__section--4 {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main--index .main__section--4 .main__section4--article {
    background-color: #0c7075;
    width: 15rem;
    height: 25rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main--index .main__section--4 .main__section4--article .article__div {
      width: 85%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main--index .main__section--4 .main__section4--article .article__div .div__img {
        height: 50%; }
        .main--index .main__section--4 .main__section4--article .article__div .div__img .div__card--img {
          width: 100%; }
      .main--index .main__section--4 .main__section4--article .article__div .div__descripcion--card {
        background-color: #0f969c;
        height: 35%;
        padding: .5rem; }
        .main--index .main__section--4 .main__section4--article .article__div .div__descripcion--card .div__h1--nombre {
          font-size: 1.3rem;
          margin: 7px 0; }
        .main--index .main__section--4 .main__section4--article .article__div .div__descripcion--card .div__p--descripcion {
          font-size: .8rem; }
    .main--index .main__section--4 .main__section4--article .a__button--card {
      width: 40%;
      margin-top: 2rem;
      background-color: #0f969c; }
      .main--index .main__section--4 .main__section4--article .a__button--card .button__card {
        background-color: #0f969c;
        width: 100%;
        padding: .5rem; }
        .main--index .main__section--4 .main__section4--article .a__button--card .button__card:active {
          background-color: #072e33; }

@media screen and (min-width: 1028px) {
  .main--index .main__section--1 {
    height: 80vh;
    overflow: hidden; }
    .main--index .main__section--1 .main__section1--img {
      position: relative;
      opacity: 50%; }
    .main--index .main__section--1 .main__section1--text {
      width: 80%;
      left: 4rem;
      top: 17rem; }
      .main--index .main__section--1 .main__section1--text .section1__div--h1 {
        font-size: 8rem;
        margin-bottom: 2rem; }
      .main--index .main__section--1 .main__section1--text .section1__div--p {
        font-size: 4rem; }
  .main--index .main__section--2 .main__section2--div {
    width: 100%; }
    .main--index .main__section--2 .main__section2--div .section2__div--h2 {
      font-size: 5rem;
      margin-top: 4rem; }
    .main--index .main__section--2 .main__section2--div .section2__div--p {
      font-size: 3rem; }
    .main--index .main__section--2 .main__section2--div .section2__div--img {
      height: 80vh; }
  .main--index .main__section--4 {
    justify-content: space-around; } }

.main--productos {
  width: 100%; }
  .main--productos .abrir--menu--section {
    background-color: #0c7075;
    font-size: 1rem;
    padding: .3rem; }
    .main--productos .abrir--menu--section i {
      font-size: 1.2rem;
      padding: 1rem; }
    .main--productos .abrir--menu--section:hover {
      background-color: #0f969c; }
  .main--productos .menu--contenedor {
    opacity: 0;
    visibility: hidden;
    background-color: #072e33;
    width: 60%;
    position: absolute;
    top: 25%; }
    .main--productos .menu--contenedor .menu__productos {
      width: 100%;
      background-color: #072e33;
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer; }
      .main--productos .menu--contenedor .menu__productos .list--item {
        list-style: none;
        width: 100%;
        text-align: center;
        overflow: hidden; }
        .main--productos .menu--contenedor .menu__productos .list--item:hover {
          background-color: #0c7075; }
        .main--productos .menu--contenedor .menu__productos .list--item:active {
          background-color: #072e33; }
        .main--productos .menu--contenedor .menu__productos .list--item .list--producto {
          display: flex;
          align-items: center;
          gap: 1em;
          width: 70%;
          margin: 0 auto;
          padding: 10px 0;
          font-size: 1.2rem; }
          .main--productos .menu--contenedor .menu__productos .list--item .list--producto i {
            margin-left: auto;
            transition: transform .3s; }
        .main--productos .menu--contenedor .menu__productos .list--item .list__item--filter {
          transition: height .4s;
          cursor: pointer;
          height: 0; }
          .main--productos .menu--contenedor .menu__productos .list--item .list__item--filter .ul__items {
            background-color: #0f969c;
            padding: 10px 0; }
            .main--productos .menu--contenedor .menu__productos .list--item .list__item--filter .ul__items .button--filter {
              font-size: 1.2rem;
              padding: 5px 0; }
            .main--productos .menu--contenedor .menu__productos .list--item .list__item--filter .ul__items .list__item--secundario {
              display: flex;
              justify-content: space-between;
              width: 70%;
              padding: 4px 2px;
              margin: 0 auto;
              font-size: .8rem;
              cursor: pointer; }
              .main--productos .menu--contenedor .menu__productos .list--item .list__item--filter .ul__items .list__item--secundario:hover {
                background-color: #0f969c; }
      .main--productos .menu--contenedor .menu__productos .arrow .list--producto i {
        transform: rotate(90deg); }
      .main--productos .menu--contenedor .menu__productos .arrow .list__item--filter {
        height: auto; }
  .main--productos .arrow + .menu--contenedor {
    opacity: 1;
    visibility: visible; }
  .main--productos .main__section--5 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main--productos .main__section--5 .section__div--carts {
      background-color: #0c7075;
      width: 17rem;
      height: 60vh;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main--productos .main__section--5 .section__div--carts .div__img--carts {
        width: 90%; }
      .main--productos .main__section--5 .section__div--carts .div__h4--nombre--producto {
        padding: .5rem;
        font-size: 1.5rem; }
      .main--productos .main__section--5 .section__div--carts .div__p--descripcion--producto {
        font-size: 1.2rem;
        padding: .5rem; }
      .main--productos .main__section--5 .section__div--carts .button__shop--plus {
        background-color: #0f969c;
        font-size: 2rem;
        width: 15%;
        height: 10%; }

@media screen and (min-width: 1028px) {
  .main--productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "menu main main main main "; }
    .main--productos .abrir--menu--section {
      display: none; }
    .main--productos .menu--contenedor {
      grid-area: menu;
      grid-column: 1/2;
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 80vh;
      position: sticky;
      top: 12.58rem;
      padding: 5rem 2rem; }
      .main--productos .menu--contenedor .menu__productos .list--item {
        border-bottom: 1px solid #fff; }
    .main--productos .main__section--5 {
      grid-area: main;
      margin: 2rem 0;
      flex-direction: row;
      justify-content: space-evenly; } }

.main--novedades .main--section {
  width: 100%; }
  .main--novedades .main--section .section__h1--title {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 2rem;
    border-bottom: 2px solid #fff; }
  .main--novedades .main--section .main__section--div {
    width: 90%;
    height: auto;
    margin: 2rem auto;
    overflow: hidden;
    background-color: #0c707597;
    backdrop-filter: blur(9px);
    border-radius: 20px 20px; }
    .main--novedades .main--section .main__section--div .section__div--img1 {
      width: 100%; }
    .main--novedades .main--section .main__section--div .section__div--h2 {
      width: 90%;
      padding: .7rem;
      font-size: 1.4rem; }
    .main--novedades .main--section .main__section--div .section__div--p {
      padding: 1rem; }

@media screen and (min-width: 1028px) {
  .main--novedades .main--section .section__h1--title {
    padding: 1rem 0 1rem 4rem;
    margin: 1rem 0;
    width: 100%; }
  .main--novedades .main--section .main__section--div {
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end; }
    .main--novedades .main--section .main__section--div .section__div--img1 {
      width: 100%;
      position: absolute;
      z-index: -1; }
    .main--novedades .main--section .main__section--div .section__div--h2 {
      width: 50%;
      padding: 1rem;
      font-size: 2.5rem;
      background-color: #0c707597;
      backdrop-filter: blur(5px);
      border-radius: 20px 20px 0 0; }
    .main--novedades .main--section .main__section--div .section__div--p {
      padding: 1rem;
      width: 50%;
      font-size: 1.5rem;
      background-color: #0c707597;
      backdrop-filter: blur(9px);
      border-radius: 0 0 20px 20px; } }

.main--suscribirse .main--div {
  width: 90vw;
  background-color: #0c7075;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 20px; }
  .main--suscribirse .main--div .div__section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main--suscribirse .main--div .div__section .h1--section {
      width: 50%;
      padding: .7rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.5rem; }
    .main--suscribirse .main--div .div__section .section__form {
      width: 100%;
      padding: 1rem 0;
      border-top: 1px  solid #fff; }
      .main--suscribirse .main--div .div__section .section__form .form__div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main--suscribirse .main--div .div__section .section__form .form__div label {
          padding: .2rem; }
        .main--suscribirse .main--div .div__section .section__form .form__div input {
          width: 80%;
          color: #000;
          margin: .5rem;
          padding: 5px; }
        .main--suscribirse .main--div .div__section .section__form .form__div textarea {
          width: 80%;
          color: #000;
          margin: .5rem; }
        .main--suscribirse .main--div .div__section .section__form .form__div .button--enviar {
          width: 40%;
          background-color: #0f969c;
          color: #fff; }
          .main--suscribirse .main--div .div__section .section__form .form__div .button--enviar:hover {
            border: 1px solid #fff; }
          .main--suscribirse .main--div .div__section .section__form .form__div .button--enviar:active {
            border: 1px solid #072e33; }

@media screen and (min-width: 1028px) {
  .main--suscribirse .main--div {
    width: 30%; }
    .main--suscribirse .main--div .div__section .section__form .form__div .button--enviar {
      width: 30%;
      margin: 2rem 0;
      font-size: 1.5rem; }
      .main--suscribirse .main--div .div__section .section__form .form__div .button--enviar:hover {
        border: 1px solid #fff; }
      .main--suscribirse .main--div .div__section .section__form .form__div .button--enviar:active {
        border: 1px solid #072e33; } }

.footer {
  display: flex;
  flex-direction: column;
  background-color: #294d61;
  border-top: 1px #000 solid; }
  .footer .footer__div {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 2rem; }
    .footer .footer__div .footer__section--h3 {
      padding: 1.5vw; }
    .footer .footer__div .footer__section--list {
      list-style: none;
      margin-left: 1rem; }
      .footer .footer__div .footer__section--list .footer__section--item {
        text-decoration: none;
        color: #000;
        padding: 5% 1.5vw; }
  .footer .footer__p--derechos {
    width: 100vw;
    margin: 2rem 0;
    text-align: center; }

@media screen and (min-width: 1028px) {
  .footer .footer__div {
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem auto; }
    .footer .footer__div .footer__section--h3 {
      font-size: 1.7rem; }
    .footer .footer__div .footer__section--list {
      margin: 1rem; }
      .footer .footer__div .footer__section--list .footer__section--item {
        font-size: 1.2rem; }
        .footer .footer__div .footer__section--list .footer__section--item i {
          margin: 0 1rem; }
  .footer .footer__p--derechos {
    margin-bottom: 2rem; } }
