@import "variables";
.grid-layout{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: .02fr 1fr .1fr;
    grid-template-areas: 
                "header "
                "main "
                "footer ";
.header{
    grid-area: header;
    background-color: $color-fondo;
}
.main{
    grid-area: main ;
    background-color: $color-fondo;
}
.footer{
    background-color: $color-footer;
    grid-area: footer;
}
}

@media screen and (min-width:1028px) {
    .grid-layout{
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
                    "header header header header "
                    "main main main main "
                    "footer footer footer footer ";
                }
                .header{
                    grid-column: 1/5;
                }
                .main{
                    grid-column: 1/5;
                }
                .footer{
                    grid-column: 1/5;
                }
}